#footer {
    width: 100%;
    height: auto;
}
#footer .logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding: 1rem 2rem;
}
#footer .logos-container img {
    height: 2.5rem;
    width: auto;
}
@media screen and (min-width: 1100px) {

#footer .logos-container {
    gap:6rem;
}
}