#header-container {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#header-container img {
    padding-top: 4rem;
    width: 80%;
    height: auto;
    object-fit: contain;
}

#header-text h2 {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    text-align: center;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: max-content;
    padding: 1rem 2rem;
}

#header-text span {
    padding: 0 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
}

@media screen and (min-width: 1100px) {
    #header-container {
        background-position: center bottom;
        width: 100%;
        height: 100vh;
    }

    #header-container img {
        margin-top: 4rem;
        padding-top: 0;
        width: 50%;
        height: auto;
        object-fit: fill;
    }

    #header-text h2 {
        flex-direction: row;
    }

}