#invest-section {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

#invest-section .items-container {
    order: 1;
    width: 100%;
    background-color: #f2f2f2;
}

#invest-section .image-container {
    order: 2;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#invest-section .items-container p {
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
    padding: 1rem 4rem 0;
}

#invest-section .items-container h2 {

    margin: 2rem 0 0;
}

#invest-section .items-container h2 p:nth-child(1) {
    text-align: center;
    color: var(--primary-color);
    margin: 0;
    font-weight: 700;
    font-size: 4.2rem;
}

#invest-section .items-container h2 p:nth-child(2) {
    text-align: center;
    color: var(--secondary-color);
    margin: 0;
    font-size: 6.1rem;
    font-weight: 900;
}

#invest-section .porcentages-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 2em 4rem;
}

#invest-section .porcentages-container {
    padding: 0;
}

#invest-section .porcentages-container span {
    border: 1.5px solid var(--primary-color);
    width: 0px;
}

#invest-section .porcentages-container p {
    padding: 0;
}

#invest-section .porcentages-container .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 1rem;
}

#invest-section .porcentages-container .item p:nth-child(1) {
    font-size: 3rem;
    font-weight: 700;
}

#invest-section .porcentages-container .item p:nth-child(2) {
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #cacaca;
    width: fit-content;
}

#invest-section .image-container {
    align-content: end;
    text-align: center;
    padding: 0;
}

#invest-section .image-container p {
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 769px) {
    #invest-section {
        display: flex;
        flex-direction: row;
    }

    #invest-section .items-container {
        order: 1;
        width: 50%;
        max-width: 50%;
    }

    #invest-section .image-container {
        order: 2;
        background-size: cover;
        width: 50%;
        max-width: 50%;
    }

    #invest-section .image-container p {
        width: 90%;
        justify-self: center;
    }

    #invest-section .items-container>p {
        padding: 0 16%;
    }

    #invest-section .items-container>p>b {
        font-weight: 700;
    }

    #invest-section .items-container h2 p:nth-child(1) {
        text-align: center;
        font-size: 3.2rem;
        padding: 0;
    }

    #invest-section .items-container h2 p:nth-child(2) {
        text-align: center;
        font-size: 4.6rem;
        padding-bottom: 2rem;
    }
}