#lifestyle-section{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
}
.lifestyle-text-container{
    display: flex;
    flex-direction: column;
    
}
.lifestyle-image-container{
    width: 100%;
    height: auto;
}
.lifestyle-image-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.lifestyle-text-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
#lifestyle-section .title-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 4rem 4rem 1rem;
    color: var(--primary-color);
    
}
#lifestyle-section .title-container p{
    font-weight: 700;
    margin: 0;
    font-size: 2.5rem;
    
}
#lifestyle-section .title-container h2{
    text-align: center;
    margin: 0;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 4rem;
}
#lifestyle-section .title-container p:nth-child(3){
    text-align: end;
}
#lifestyle-section .list-container{
    padding: 0 3rem 3rem;
}
#lifestyle-section .list-container ul{
    list-style: none;
    padding: 0;
}
#lifestyle-section .list-container li{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    
}
#lifestyle-section .list-container p{
    font-weight: 100;
    
}
#lifestyle-section .list-container li img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
#lifestyle-section .list-container button {
    font-weight: 900;
    padding: .5rem;
    background-color: var(--green-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}
@media screen and (min-width: 769px) {
 #lifestyle-section{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #f2f2f2;
    flex-direction: row;
}
.lifestyle-image-container{
    width: 50%;
    height: auto;
}
.lifestyle-text-container{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lifestyle-section .title-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 4rem 4rem 1rem;
    color: var(--primary-color);
    
}
#lifestyle-section .title-container h2{
    font-size: 5rem;
    
}
#lifestyle-section .list-container{
    padding: 0 4rem 2rem;
}
#lifestyle-section .list-container ul{
    list-style: none;
    padding-left: 3rem
}
#lifestyle-section .list-container button {
    margin-left: 3rem;
}
.lifestyle-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}