#model-section .model-container {
    display: flex;
    color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
}

#model-section .models {
    display: flex;
    gap: 1rem;
}

#model-section .items-container h2 {
    text-align: center;
    margin-top: 2rem;
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
}

#model-section .items-container h2 {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
    text-align: justify;
}

#model-section .items-container>p {
    font-size: 1.6rem;
    font-weight: 100;
    text-align: justify;
}

#model-section .model-change {
    font-size: 1.6rem;
    font-weight: 100;
}

#model-1,
#model-2 {
    cursor: pointer;
}

#model-section .model-change p.active {
    font-weight: bold;
}

#model-section .image-container {
    order: 2;
    width: 100%;
    justify-content: center;
}

#model-section .items-container {
    order: 1;
    width: 80%;
    text-align: center;
    align-self: center;
}

#model-section .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#model-section .model-change button {
    font-weight: 700;
    padding: 1rem;
    background-color: var(--green-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
}

#model-section .description-container p {
    padding: 0 5%;
    margin: 2rem 0;
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (min-width: 769px) {
    #model-section .model-change {
    padding: 0 2rem 0 0;
    font-size: 1.6rem;
    font-weight: 100;
}
#model-section .items-container>p {
    padding: 0 2rem 0 0;
    font-size: 1.6rem;
    font-weight: 100;
}
    #model-section .items-container  {
    text-align: start;
}
    #model-section .items-container h2 {
    text-align: start;
}
    #model-section .description-container p {
        margin: 0 0 2rem;
    }

    #model-section .image-container {
        width: 60%;
        order: 1;
    }

    #model-section .items-container {
        width: 40%;
        order: 2;
    }

    #model-section .model-container {
        flex-direction: row;
    }
}