#reef-section{
    display: flex;
    flex-direction: column;
}
#reef-section .image-container{
    display: flex;
    gap:4%;
}
#reef-section .image-container img{
    height: auto;
    max-height: 50vh;
    width: 48%;
    object-fit: cover;
}
#reef-section .text-container{
    padding: 0 4rem 2rem;
}
#reef-section .text-container p:nth-child(1){
    padding: 0;
    text-align: justify;
    font-size: 2.5rem;
    color: var(--secondary-color);
}
#reef-section .text-container p:nth-child(2){
    padding: 0 ;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--primary-color);
}
#reef-section .text-container p:nth-child(3){
    padding: 0 ;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--primary-color);
}
@media screen and (min-width: 769px) {
    #reef-section{
    flex-direction: row;
}
    #reef-section .image-container{
    order: 1;
    width: 50%;
}
    #reef-section .image-container img{
    order: 1;
    width: 48%;
    height: 100%;
    max-height: 100vh;
}
    #reef-section .text-container{
    order: 2;
    width: 50%;
    padding: 0;
}
    #reef-section .text-container p{
    align-self: flex-start;
    justify-self: center;
    width: 70%;
}
#reef-section .text-container p:nth-child(1){
    padding: 0 2rem;
    text-align: justify;
    font-size: 3rem;
    color: var(--secondary-color);
}
#reef-section .text-container p:nth-child(2){
    padding: 0 2rem;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--primary-color);
}
#reef-section .text-container p:nth-child(3){
    padding: 0 2rem;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--primary-color);
}
}