#video .title-container{
    text-align: center;
    margin-top: 2rem;
    color: var(--primary-color);
}

#video .title-container h2{
    color: var(--secondary-color);
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 700;
}

#video .video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
#video .video-container video {
    width: auto;
    height: 90vh;
}
#v-horizontal {
        display: none;
    }
@media (min-width: 768px) {
    #v-vertical {
        display: none;
    }
    #v-horizontal {
        display: block;
    }
}